{% extends 'base.html.twig' %}

{% block title %}Login munichclimbs{% endblock %}

{% block body %}
    <div class="container pt-12 pb-2">
        <div class="w-1/2 bg-white rounded-lg p-8 flex flex-col mt-10 md:mt-0 mx-auto relative z-10 shadow-md">
            <h1 class="text-gray-900 text-lg mb-1 font-medium title-font">Login munichclimbs</h1>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post">
                <div class="relative mb-4">
                    <label for="username" class="leading-7 text-sm text-gray-600">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="relative mb-4">
                    <label for="password" class="leading-7 text-sm text-gray-600">Password:</label>
                    <input type="password" id="password" name="_password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">login</button>
            </form>
        </div>
    </div>
{% endblock %}