<button type="button" class="btn btn-sm btn-primary p-1 rounded-circle shadow" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-label="Zeige Karte" aria-expanded="false" aria-controls="{{ ariaControls }}">
	<div class="map"></div>
</button>
