<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">


	<div id="collapseRockMap" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		<div class="accordion-body p-0">
			<div id="areaMap" class="z-10 mb-3" style="width: 100%; height: 500px;">
				{{ include('pageParts/areaMap.html.twig') }}
			</div>
		</div>
	</div>

</div>
