<div class="card">
	<h2 class="text-white fs-5 fw-light px-3 py-2 mb-2 rounded-top bg-success">In eigner Sache</h2>
	<div class="px-3 py-2 mb-2">
		<p class="fw-medium">Du möchtest unser Projekt unterstützen?</p>
		<p>Dann teile Bilder, Topos und Informationen zu Felsen und Routen mit uns! Dein Beitrag wird anderen Kletterern einen Mehrwert bieten.</p>
		<p>Wir sind dankbar für jede Unterstützung, schick uns einfach eine E-Mail an:</p>
		<p class="fw-medium">admin@munichclimbs.de</p>
	</div>
</div>
