{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Cauldron Overflow Dashboard
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
            <h3>Latest Questions</h3>
            <ol>
                    <li>
                        sdfbsfdbsfdb
                    </li>
            </ol>
        </div>
        <div class="col-6">
            <h3>Top Voted</h3>
            <ol>
                    <li>
                        sdfbsf
                    </li>
            </ol>
        </div>
        <div class="col-12">
            {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}
