{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}To Do's{% endblock %}

{% block main %}
    <h2>Backend</h2>
    <ul>
        <li>Kindereignung stimmt bei Übersicht nicht mit der auf Detailseite überein.</li>
        <li>Koordinaten auf wie viele Stellen kürzen?</li>
    </ul>
    <h2>Frontend</h2>
    <ul>
        <li>Startseite Card's eventuell horizontal.</li>
        <li>Scrollspy auf der Fels Detailseite funktioniert nicht richtig</li>
        <li>Breite der Seite anpassen</li>
    </ul>
    <h2>Fehlende Topos</h2>
    <h4>Konstein</h4>
    <ul>
        <li>Försterfels (Hauptwand)</li>
        <li>Oberlandwand</li>
        
    </ul>
{% endblock %}