{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}To Do's{% endblock %}

{% block main %}
    <h2>Backend</h2>
    <ul>
        <li>Kindereignung stimmt bei Übersicht nicht mit der auf Detailseite überein.</li>
        <li>Koordinaten auf wie viele Stellen kürzen?</li>
    </ul>
    <h2>Frontend</h2>
    <ul>
        <li>Startseite Card's eventuell horizontal.</li>
        <li>Karte Überischtsseite Icons fehlen.</li>
    </ul>
{% endblock %}