{% extends 'base.html.twig' %}



{% block title %}Fels bearbeiten{% endblock %}

{% block body %}

    <div class="container pt-12 pb-2">

        <h1>Fels {{ rock.name }} bearbeiten</h1>

        {{ include('rock/_form.html.twig', {'button_label': 'aktualisieren'}) }}


        <div class="flex items-center my-5">
            <a 
                class="inline-flex items-center h-10 px-5 text-white transition-colors duration-150 bg-yellow-400 rounded-lg focus:shadow-outline hover:bg-yellow-500 mr-5"
                role="button"
                href="{{ path('rock_index') }}"
            >zurück zur Übersicht</a>

            {{ include('rock/_delete_form.html.twig') }}
        </div>

    </div>
    
{% endblock %}