{% extends 'base.html.twig' %}

{% block title %}Neuen Felsen hinzufügen{% endblock %}

{% block body %}
    <div class="container pt-12 pb-2">

        <h1 class="mb-5">Neuen Felsen hinzufügen</h1>

        {{ include('rock/_form.html.twig') }}

        <a href="{{ path('rock_index') }}">back to list</a>
    
    </div>
{% endblock %}
