<div class="list-group list-group-light">
    {% for route in routes %}
        <a
            class="list-group-item list-group-item-action px-3 border-0"
            {#href="{{ path('show_rock', { id: route.id }) }}"#}
        >
            {{ route.name }}
        </a>
    {% else %}
        <div class="list-group-item">No results found!</div>
    {% endfor %}
</div>