
<div class="list-group list-group-light">
    {% for route in routes %}
        <a
            class="list-group-item list-group-item-action px-3 border-0"
            {#href="{{ path('show_rock', { slug: rock.slug }) }}"#}
        >
            
        <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img
                        src="{{ asset('/uploads/avatars/bernd.jpg') }}"
                        class="rounded"
                    >
                    <span class="px-1">{{dump(route)}}</span>
                </div>
                <em></em>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">No results found!</div>
    {% endfor %}
</div>