{% set marker = [] %}
{% for rock in rocks %}
    {% set rockName     = '<h6 class="font-semibold mb-2">' ~ rock.name ~ '</h6><div style="background-image: url(https://www.munichclimbs.de/images/rocksmap/' ~ rock.image ~ '.webp);overflow: hidden; background-size: cover; background-position: center; width: 150px; height: 150px;"></div><p class="fw-normal text-black mt-1 my-0">GPS:</p><p class="fw-normal text-black my-0">' ~ rock.lat ~ ', ' ~ rock.lng ~ '</p>' %}
    {% set rockImage = '' %}
    {% set marker = marker|merge([[ rock.lat, rock.lng, rockName, rockImage ]]) %}
{% endfor %}

{% set intialZoom = [] %}
{% set intialZoom = intialZoom|merge([areaLat, areaLng, areaZoom]) %}

<script>

    var markersArea = {{ marker|json_encode|raw }}
    var zoom = {{ intialZoom|json_encode|raw }}

    var areaMap = L.map('areaMap').setView([ zoom[0], zoom[1]], zoom[2]);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
		maxZoom: 18,
		accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
	}).addTo(areaMap);

        
	for (var i = 0; i < markersArea.length; i++) {
		marker = new L.marker([markersArea[i][0],markersArea[i][1]])
			.bindPopup(markersArea[i][2])
			.addTo(areaMap);
	}

	const myModalEl = document.getElementById('collapseMap');
        myModalEl.addEventListener('shown.bs.collapse', (e) => {
            setTimeout(function(){ 
            areaMap.invalidateSize();
        }, 40);
	});

</script>