<footer class="bg-sky-800 mt-5 p-3 ">
	<section class="container mx-auto flex flex-wrap justify-start">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			<div class="col-span-2">
				<h3 class="font-semibold text-white tracking-wider uppercase mb-3">Gebiete um München</h3>
				<div class="flex flex-wrap">
					{% for area in areas %}
					<a 
						class="hover:underline text-white pt-1 pb-2 text-sm leading-snug w-full sm:w-1/2 truncate"
						href="{{ path('show_rocks', { slug: area.slug }) }}" 
						title="Klettergebiet {{ area.name }}"
						data-area="{{ area.name }}"
					>
						{{ area.name }}
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-span-3 md:col-span-1">
				<h3 class="font-semibold text-white tracking-widest mb-3">munichclimbs</h3>
				<div class="flex flex-wrap">
					<a class="hover:underline text-white pt-1 pb-2  text-sm leading-snug w-full truncate" href="<?php echo BASE_URL; ?>Datenschutz">Datenschutz</a></li>
					<a class="hover:underline text-white pt-1 pb-2  text-sm leading-snug w-full truncate" href="<?php echo BASE_URL; ?>Impressum">Impressum</a></li>
				</div>
			</div>
		</div>

		<div class="border-solid border-white border-t mt-6 mb-4 h-px w-full"></div>

		<div class="w-full">
			<p class="text-white text-center text-sm mb-0">Copyright © <?php echo date("Y"); ?>  munichclimbs. Alle Rechte vorbehalten.</p>
		</div>
	</section>
</footer>

<div id="active-background" class=""></div>