<header>
	<nav id="main-navbar" class="bg-white fixed-top">
		<div class="container py-2">
			<div class="row align-items-center">
				<div class="col-3">
					<div class="d-flex align-items-center">
						<button data-mdb-toggle="sidenav" data-mdb-target="#sidenav" class="btn shadow-0 p-0 me-3" aria-controls="#sidenav" aria-haspopup="true">
							<i class="fas fa-bars fa-xl text-black"></i>
						</button>
						<a class="d-none d-md-inline-block ripple pb-1 text-dark fs-5" style="font-family: 'Chelsea Market', cursive;" href="/">munichclimbs</a>
					</div>
				</div>
				<div class="col-9 d-flex justify-content-end">
					<form autocomplete="off" action="<?php echo BASE_URL; ?>searchResult" method="post" class="w-100">
						<div class="input-group d-flex flex-nowrap">
							<div id="navbar-search-autocomplete" class="form-outline" style="width: 90%;">
								<input type="search" id="form1" class="form-control" name="route"/>
								<label class="form-label" for="form1">Finde Route....</label>
							</div>
							<button type="submit" class="btn btn-primary" style="width: 10%;">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</from>
				</div>
				<div class="col-md"></div>
			</div>
		</div>
	</nav>
</header>
