<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


		<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
	</head>
	<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">


		{% block body %}{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}


	</body>
</html>
