<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Munichclimbs{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
			<link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>

			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
	</head>
	<body class="{% block bodyclass %}{% endblock %}"> 
		{{ include('pageParts/navigation.html.twig') }}

		{% for message in app.flashes('success') %}
			<div class="alert-banner w-full fixed top-0">
				<input type="checkbox" class="hidden" id="banneralert">

				<label class="close cursor-pointer flex items-center justify-between w-full p-2 bg-green-500 shadow text-white" title="close" for="banneralert">
					{{ message }}

					<svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 18 18">
						<path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
					</svg>
				</label>
			</div>
		{% endfor %}

		{% block body %}{% endblock %}

		<div id="back_to_top_button" class="fixed border-solid border-white border outline-none bg-sky-800 shadow-xl cursor-pointer p-2 rounded-lg" style="display: none; bottom: 20px; right: 30px; z-index: 99;">
			<svg class="stroke-current text-white h-8 w-8" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" fill="none" viewbox="0 0 24 24">
				<path d="M5 15l7-7 7 7"></path>
			</svg>
		</div>

		<div id="active-background" class=""></div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{#{ encore_entry_script_tags('global') }#}
		{% endblock %}
	</body>
</html>
