{% extends 'base.html.twig' %}

{% block title %}Neue Route{% endblock %}

{% block body %}
    <div class="container pt-12 pb-2">

        <h1 class="mb-5">Neuen Tour hinzufügen</h1>

        {{ include('routes/_form.html.twig') }}

        <a href="{{ path('routes_index') }}">back to list</a>
    
    </div>
{% endblock %}
