{% extends 'base2.html.twig' %}

{% block title %}Hello StimulusTrainingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div data-controller="counter">
        <button
            data-action="counter#increment"
            class="btn btn-primary btn-sm"
        >Click me!</button>
        I have been clicked 
        <span data-counter-target="count">0</span> times.
    </div>
</div>

<form>
    <div
        class="input-group"
        {{ stimulus_controller('search-preview', {
            url: path('app_stimulus_training')
        }) }}
    >
        <input
            name="q"
            value="{{ searchTerm }}"
            placeholder="Search products..."
            type="search"
            class="form-control"
            data-action="search-preview#onSearchInput"
        >
        <div
            class="search-preview"
            data-search-preview-target="result"
        ></div>
    </div>
</form>
{% endblock %}
